
.DS_Store
.tl_2020_41_tract.zip.icloud
tract_data.gpkg-shm
tract_data.gpkg-wal
*.icloud
*.gpkg-shm
*.gpkg-wal
*.pgw
*.pgw
High_SNAP_existing_grocery_stores.pgw
Existing_grocery_stores.pgw
ALL_high_SNAP_grocery_stores.pgw
SNAP_receipt_zips.pgw
